body {
    background-color: aliceblue;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: '휴먼편지체';
    src: url('https://liionaaa.github.io/webcontents/Subject/Homework/250417/fonts/휴먼편지체.ttf');
}